.DS_Store
.ipynb_checkpoints
.vscode
__pycache__

*.dng
*.fcpbundle
*.fcpxml
*.jpg
*.m4v
*.pdf
*.png

firsttest
flatfieldtest
kretatest
kretatest3
scans
speedtest
speedtest2
stuff
testroll
testrun
test_capture

PyDNG

notification_config.yml
