.DS_Store
.ipynb_checkpoints
.vscode
__pycache__

*.dng
*.fcpbundle
*.fcpxml
*.jpg
*.lrplugin
*.m4v
*.pdf
*.png

firsttest
flatfieldtest
kretatest
kretatest3
scans
speedtest
speedtest2
stream_test
stuff
testroll
testrun
test_capture

LR_10
Manuel Angel
PyDNG

notification_config.yml
