html {
    background-color: #262626;
}

.main {
    width: 100% - 40px;
    height: 100%;
    margin-left: 40px;
}

.sidebar {
    width: 40px;
    height: 100%;
    background-color: #44444b;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

.liveview {
    height: 100%;
}

.button-green {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-green:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-green:hover {
  background-color: #2c974b;
}

.button-green:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-green:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-green:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.button-red {
    appearance: none;
    background-color: #a42e2e;
    border: 1px solid rgba(35, 32, 27, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-red:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  
  .button-red:hover {
    background-color: #972c2c;
  }
  
  .button-red:focus {
    box-shadow: rgba(164, 46, 46, 0.4) 0 0 0 3px;
    outline: none;
  }
  
  .button-red:disabled {
    background-color: #d39494;
    border-color: rgba(35, 32, 27, 0.1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
  }
  
  .button-red:active {
    background-color: #8e2929;
    box-shadow: rgba(70, 20, 20, 0.2) 0 1px 0 inset;
  }
