<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>8mm Film Scanner</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img id="preview" class="liveview" src="{{ url_for('liveview') }}">
    <div class="controls">
        <canvas id="histogram"></canvas>
        <button class="button-green" id="scan_button">Scan</button>
        <button class="button-red" role="button" id="advance_button">Advance</button>
        <button class="button-red" role="button" id="fastforward_button">Fast-Forward</button>
        <button class="button-red" id="focuszoom_button">Focus Zoom</button>
        <div id="counter_label" class="label">-</div>
    </div>
</body>
</html>
