<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>8mm Film Scanner</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <h1>8mm Film Scanner</h1>
    <div style="width: 100%;">
        <img id="preview" style="width: 70%; height:52%; background-attachment: fixed;" class="center" src="{{ url_for('videostream') }}">
    </div>
    <button id="scan_button">Scan</button>
    <button id="advance_button">Advance</button>
</body>
</html>